<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="topmenu">
                <nav class="navigation">
                    <div class="left-menu">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'myapp/DWC-4.png' %}" alt="DWC Logo">
                            </a>
                        </div>
                        <button class="menu-toggle" id="menuToggle">
                            &#9776; <!-- Символ гамбургер-меню -->
                        </button>
                        <ul class="top-list" id="navMenu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="/#features">Features</a></li>
                            <li><a href="/#Product">Product</a></li>
                            <li><a href="/#pricing">Pricing</a></li>
                        </ul>    
                    </div>
                    <div class="right-menu">
                        <ul class="top-list">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>  
                </nav>
            </div>
        </div>
    </header>
    <main class="main-content_termsNpolicy">
        <div class="main-content-about">
            <div class="text-about">
                <h1>Privacy policy</h1>
                <p class="effective">Last updated: Sep. 20, 2024 </p>
                <span>Introduction</span>
                <p>This privacy policy ("Policy") describes how DWC Limited, located in Minsk ("Company," "we," and "our") processes, collects, uses and shares personal data when using this website. Please read the following information carefully to understand our practices regarding your personal data and how we process data.</p>
                <span>Purposes of Processing</span>
                <span>What is personal data?</span>
                <p>We collect information about you via telegram app, including personal data. As used in this Policy, "personal data" is as defined in the General Data Protection Regulation, this includes any information which, either alone or in combination with other information we process about you, identifies you as an individual, including, for example, your name, your Telegram nickname, your telegram ID, your e-mail, your phone number.</p>
                <span>Why do we need your personal data?</span>
                <p>We will only process your personal data in accordance with applicable data protection and privacy laws. We need certain personal data in order to provide you with access to the Site/Service. If you have purchased our premium subscription, you agree to provide information about yourself to access our services or view our content. This consent provides us with the legal basis we require under applicable law to process your data. You maintain the right to withdraw such consent at any time. If you do not agree to our use of your personal data in line with this Policy, please do not use our Site.</p>
                <span>Collecting Your Personal Data</span>
                <p>We collect information about you in the following ways:</p>
                <span>Information You Give Us</span>
                <p>This includes:</p>
                <ul>
                    <li>the personal data in your Telegram application, including your name, your username, email address, telegram ID, telephone number and demographic information (such as your gender);</li>
                    <li>the personal data you provide in connection with our rewards program and other promotions we run on the Site;</li>
                    <li>the personal data you provide when you report a problem with our Site or Services or when we provide you with customer support;</li>
                    <li>the personal data you provide when you make a purchase through our Site; and</li>
                    <li>the personal data you provide when you correspond with us by phone, email or otherwise.</li>
                </ul>
                <p>We will access, use, and store that information in accordance with this Policy. You can revoke our access to the information you provide.</p>
                <span>Information Automatically Collected</span>
                <p>We automatically log information about you and your computer or mobile device when you access our Site. For example, when visiting our Site, we log your computer or mobile device’s operating system name and version, manufacturer and model, browser type, browser language, screen resolution, the website you visited before browsing to our Site, pages you viewed, the duration of time you spent on a page, access times and information about your use of and actions on our Site. We collect this information about you using cookies.</p>
                <span>Automated Decision Making and Profiling</span>
                <p>We do not use your personal data for the purposes of automated decision-making. However, we may do so in order to fulfill obligations imposed by law, in which case we will inform you of any such processing and provide you with an opportunity to object.</p>
                <span>Cookies</span>
                <span>What are cookies?</span>
                <p>We may collect information using "cookies." Cookies are small data files stored on the hard drive of your computer or mobile device by a website. We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your computer or mobile device until you delete them) to provide you with a more personal and interactive experience on our Site. <br> <br> We use two broad categories of cookies: (1) first party cookies, served directly by us to your computer or mobile device, which are used only by us to recognize your computer or mobile device when it revisits our Site; and (2) third party cookies, which are served by service providers on our Site, and can be used by such service providers to recognize your computer or mobile device when it visits other websites. </p>
                <span>Cookies we use</span>
                <p>Our Site uses the following types of cookies for the purposes set out below:</p>
                <p><i>Essential Cookies</i></p>
                <p>These cookies are essential for providing you with the services available through our Site and to enable you to use some of its features. For example, they allow you to log in to secure areas of our Site and help load the content of the pages you request quickly. Without these cookies, the requested services cannot be provided, and we only use these cookies to provide you with those services.</p>
                <p><i>Analytics and Performance Cookies</i></p>
                <p>These cookies are used to collect information about traffic to our Site and how users use our Site. The information gathered does not identify any individual visitor. It includes the number of visitors to our Site, the websites that referred them to our Site, the pages they visited on our Site, what time of day they visited our Site, whether they have visited our Site before, and other similar information. We use this information to help operate our Site more efficiently, to gather broad demographic information and to monitor the level of activity on our Site. <br> <br> We use Google Analytics for this purpose. Google Analytics uses its own cookies. It is only used to improve how our Site works. You can find out more information about Google Analytics cookies here: <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>.</p>
                <p><i>Social Media Cookies</i></p>
                <p>These cookies are used when you make a payment via Telegram. The social network will record that you have done this.</p>
                <span>Disabling cookies</span>
                <p>You can typically remove or reject cookies via your browser settings. In order to do this, follow the instructions provided by your browser (usually located within the "settings," "help" "tools" or "edit" facility). Many browsers are set to accept cookies until you change your settings. Or you can simply press decline button. <br> <br> If you do not accept our cookies, you may experience some inconveniences while using our Site. For example, we may not be able to recognize your computer or mobile device and you may have some discomfort and unpleasant use.</p>
                <span>Using Your Personal Data</span>
                <p>We may use your personal data as follows:</p>
                <ul>
                    <li>to operate, maintain, and improve our Site, products, and services;</li>
                    <li>to operate and administer our rewards program and other promotions you participate in on our Site;</li>
                    <li>to respond to your comments and questions and to provide customer service;</li>
                    <li>to send information including technical notices, updates, security alerts, and support and administrative messages;</li>
                    <li>with your consent, to send you marketing e-mails about upcoming promotions, and other news, including information about products and services offered by us and our affiliates. You may opt-out of receiving such information at any time: such marketing emails tell you how to "opt-out". Please note, even if you opt-out of receiving marketing emails, we may still send you non-marketing emails.</li>
                    <li>to process payments you make via our Site;</li>
                    <li>as we deem necessary or appropriate (a) to comply with applicable laws; (b) to comply with lawful requests and legal process, including to respond to requests from public and government authorities; (c) to enforce our Policy; and (d) to protect our rights, privacy, safety or property, and/or that of you or others;</li>
                    <li>for analysis and study services; and</li>
                    <li>as described in the "Sharing of your Personal Data" section below.</li>
                </ul>
                <span>Sharing Your Personal Data</span>
                <p>We may share your personal data as follows:</p>
                <ul class="bold">
                    <li><span>Third Parties Designated by You.</span> We may share your personal data with third parties where you have provided your consent to do so.</li>
                    <li><span>Our Third Party Service Providers.</span> We may share your personal data with our third party service providers who provide services such as data analysis, payment processing, information technology and related infrastructure provision, customer service, email delivery, auditing and other similar services.</li>
                    <li><span>Third Party Sites.</span> Our Site may contain links to third party websites and features. This Policy does not cover the privacy practices of such third parties. These third parties have their own privacy policies and we do not accept any responsibility or liability for their websites, features or policies. Please read their privacy policies before you submit any data to them.</li>
                </ul>
                <span>International Data Transfer</span>
                <p>Your information, including personal data that we collect from you, may be transferred to, stored at and processed by us outside the country in which you reside, where data protection and privacy regulations may not offer the same level of protection as in other parts of the world. By accepting this Policy, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Policy.</p>
                <span>Security</span>
                <p>We seek to use reasonable organizational, technical and administrative measures to protect personal data within our organization. Unfortunately, no transmission or storage system can be guaranteed to be completely secure, and transmission of information via the internet is not completely secure. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any resources we provide might have with us has been compromised), please immediately notify us of the issue by contacting us.</p>
                <span>Retention</span>
                <p>We will only retain your personal data as long as reasonably required for you to use the Site until you cancel your subscription unless a longer retention period is required or permitted by law (for example for regulatory purposes).</p>
                <span>Our Policy on Children</span>
                <p>Our Site is/are not directed to children under 16. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us. We will delete such information from our files as soon as reasonably practicable.</p>
                <span>Contact Information</span>
                <p>If you have any questions or comments regarding this Privacy Policy or if you would like to exercise any of your rights, you may contact us by any of the following means:</p>
                <ul class="bold">
                    <li><span>Business mail: </span> If you have any business questions, ideas, etc., you can contact via business mail: <a href="mailto:mystery@badnewsxo.com"> mystery@badnewsxo.com</a></li>
                    <li><span>Support  mail: </span> You may submit your request in our Help Center via mail address: <a href="mailto:helpdeskdwcteam@gmail.com">   helpdeskdwcteam@gmail.com</a></li>
                    <li><span>Telegram: </span> You can personally write to support via telegram: <a href="https://t.me/actuallydone" target="_blank">https://t.me/actuallydone</a></li>
                </ul>
                <p>We welcome your comments or questions about this Policy. You may contact us in writing or through our website.</p>
            </div>        
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <!-- Левый блок с информацией -->
            <div class="footer-left">
                <p>© Copyright 2024 DWC LTD. All rights reserved.<br>
                    <span>111 Kalinovskogo street, 220086, Minsk, Minsk region, Belarus</span></p>
            </div>

            <!-- Правый блок с платёжными системами -->
            <div class="footer-right">
                    <a href="{% url 'terms' %}" class="footer-link" target="_blank">Terms of Use</a>
                    <a href="{% url 'privacy' %}" class="footer-link">Privacy Policy</a>
                    <a href="{% url 'contact' %}" class="footer-link">Help</a>
                <img src="{% static 'myapp/Payments.png' %}" alt="Payments" class="payment-logo">
            </div>
        </div>
    </footer>
    <script>
        document.getElementById("menuToggle").addEventListener("click", function() {
    var navMenu = document.getElementById("navMenu");
    if (navMenu.style.display === "flex") {
        navMenu.style.display = "none";
    } else {
        navMenu.style.display = "flex";
    }
});
    </script>
</body>
</html>