<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="topmenu">
                <nav class="navigation">
                    <div class="left-menu">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'myapp/DWC-4.png' %}" alt="DWC Logo">
                            </a>
                        </div>
                        <button class="menu-toggle" id="menuToggle">
                            &#9776; <!-- Символ гамбургер-меню -->
                        </button>
                        <ul class="top-list" id="navMenu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="/#features">Features</a></li>
                            <li><a href="/#Product">Product</a></li>
                            <li><a href="/#pricing">Pricing</a></li>
                        </ul>    
                    </div>
                    <div class="right-menu">
                        <ul class="top-list">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>  
                </nav>
            </div>
        </div>
    </header>
    <main class="main-content_termsNpolicy">
        <div class="main-content-about">
            <div class="text-about">
                <h1>Terms of use</h1>
                <p class="effective">Effective as of May 09, 2024 </p>
                <p>Welcome to the DWC Limited (the "Service"). The following Terms of Use apply when you view or use the Service. Please review the following terms carefully. By accessing or using the Service, you signify your agreement to these Terms of Use. If you do not agree to these Terms of Use, you may not access or use the Service.</p>
                <p class="ending">In case you have any questions, please contact customer support at the email address : <a href="mailto:helpdeskdwcteam@gmail.com">helpdeskdwcteam@gmail.com</p> </a>
                <span>Privacy policy</span>
                <p>The company respects the privacy of its Service users. Please refer to the Company's Privacy Policy which explains how we collect, use, and disclose information that pertains to your privacy. When you access or use the Service, you signify your agreement to this Privacy Policy.</p>
                <span>Facilities</span>
                <p>Our Service provides previous/deleted shows of WWE content, news in sport entertainment, latest updates, highlights, exclusive interviews and many more features. <br> <br> Why us? We have a lot of advantages, such as HIGH quality of the videos, speed, convenience, etc. You can watch it everywhere (any place in the world). You can do it whenever you want. Content is posted as soon as it becomes available. And many more features. </p>
                <span>Rules for user conduct and use of the service</span>
                <p>Our service is intended for users over the age of 16. <br> <br> Use of the site by persons under this age is prohibited. Any premium plan you order from this Service is for personal use only and cannot be shared with other people.</p>
                <span>Use restrictions</span>
                <p>Your permission to use the Service is conditioned upon the following Use Restrictions and Conduct Restrictions: You agree that you will not under any circumstances: </p>
                <ul>
                    <li>post any information that is abusive, threatening, obscene, defamatory, libelous, or racially, sexually, religiously, or otherwise objectionable and offensive;</li>
                    <li>use the service for any unlawful purpose or for the promotion of illegal activities;</li>
                    <li>attempt to harass, abuse, or harm another person or group;</li>
                    <li>interfere or attempt to interfere with the proper functioning of the Service;</li>
                    <li>engage in any automated use of the system, or take any action that we deem to impose or to potentially impose an unreasonable or disproportionately large load on our servers or network infrastructure;</li>
                    <li>bypass any robot exclusion headers or other measures we take to restrict access to the Service or use any software, technology, or device to scrape, spider, or crawl the Service or harvest or manipulate data;</li>
                    <li>publish or link to malicious content intended to damage or disrupt another user's browser or computer.</li>
                </ul>
                <span>License Grant</span>
                <p>By using any content or resources provided by our Service, you acknowledge and agree that the content is intended for personal use only. You may not use the content on devices or Telegram accounts that you do not own or control. You are prohibited from renting, leasing, lending, selling, redistributing, or sublicensing the content we provide. Additionally, you may not copy, decompile, reverse-engineer, or attempt to extract the source code of our services, including the Telegram bot or any related services. Any such attempt is a violation of our rights. Should you breach these conditions, we reserve the right to hold you accountable and seek legal damages.</p>
                <span>Intellectual property</span>
                <p>You acknowledge and agree that we and our licensors retain ownership of all intellectual property rights of any kind related to the Service, including applicable copyrights, trademarks and other proprietary rights. Other product and business names that are mentioned on the Service may be trademarks of their respective owners. We reserve all rights that are not expressly granted to you under this Agreement.</p>
                <span>Warranty</span>
                <p>The service is provided "as is," without warranty of any kind. Without limiting the foregoing, the company expressly disclaims all warranties, whether express, implied, or statutory, regarding the service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement. Without limiting the foregoing, the company makes no warranty or representation that access to or operation of the service will be uninterrupted or error free. You assume full responsibility and risk of loss resulting from downloading and/or use of files, information, content or other material obtained from the service. Some jurisdictions limit or do not permit disclaimers of warranty, so this provision may not apply to you.</p>
                <span>Limitation of damages; Release</span>
                <p>To the extent permitted by applicable law, in no event shall the company, its affiliates, directors, or employees, or its licensors or partners, be liable to you for any loss of profits, use, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from (A) the use, disclosure, or display of your user content; (B) your use or inability to use the service; (C) the service generally or the software or systems that make the service available; or (D) any other interactions with the company or any other user of the service, whether based on warranty, contract, tort (including negligence) or any other legal theory, and whether or not the company has been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose. Some jurisdictions limit or do not permit disclaimers of liability, so this provision may not apply to you.
                    <br> <br> If you have a dispute with one or more users or a merchant of a product or service that you review using the Service, you release us (and our officers, directors, agents, subsidiaries, joint ventures and employees) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.</p>
                <span>Modification of terms of use</span>
                <p>We can amend these Terms of Use at any time and will update these Terms of Use in the event of any such amendments. It is your sole responsibility to check the Site from time to time to view any such changes in the Agreement. If you continue to use the Site, you signify your agreement to our revisions to these Terms of Use. However, we will notify you of material changes to the terms by posting a notice on our homepage. Any changes to these Terms or waiver of the Company's rights hereunder shall not be valid or effective except in a written agreement bearing the physical signature of an officer of the Company. No purported waiver or modification of this Agreement by the Company via telephonic or email communications shall be valid.</p>
                <span>Refunds</span>
                <p>Please refer to the return policy for the terms and conditions.
                    <br> <br> We provide the service to you 'as is'. You use it at your own risk and discretion. That means it does not come with any warranty. Neither express nor implied. No implied warranty of merchantability, fitness for a particular purpose, availability, security, title, or non-infringement.
                    <br> <br> In order to receive content and get access to the channel, you must purchase a premium subscription. 
                    <br> <br> Make sure you test the service thoroughly before the purchase because we DO NOT ISSUE REFUNDS once you buy a subscription.
                    <br> <br> The only way we can help you is only if you made a payment via crypto. 
                    Basically, the program always works. But if there was a bug/error or you made a mistake yourself, you can write to support telegram : <a href="https://t.me/actuallydone" target="_blank">https://t.me/actuallydone</a>, providing all the necessary proof of payment. After which a conclusion will be made. If your payment is verified, the product will be provided. If you are trying to cheat/scam, I have every right not to provide you the product.</p>
            </div>
            
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <!-- Левый блок с информацией -->
            <div class="footer-left">
                <p>© Copyright 2024 DWC LTD. All rights reserved.<br>
                    <span>111 Kalinovskogo street, 220086, Minsk, Minsk region, Belarus</span></p>
            </div>

            <!-- Правый блок с платёжными системами -->
            <div class="footer-right">
                    <a href="{% url 'terms' %}" class="footer-link">Terms of Use</a>
                    <a href="{% url 'privacy' %}" class="footer-link" target="_blank">Privacy Policy</a>
                    <a href="{% url 'contact' %}" class="footer-link">Help</a>
                <img src="{% static 'myapp/Payments.png' %}" alt="Payments" class="payment-logo">
            </div>
        </div>
    </footer>
    <script>
        document.getElementById("menuToggle").addEventListener("click", function() {
    var navMenu = document.getElementById("navMenu");
    if (navMenu.style.display === "flex") {
        navMenu.style.display = "none";
    } else {
        navMenu.style.display = "flex";
    }
});
    </script> 
</body>
</html>